div {
    width: 200px;
    height: 200px;
    position: absolute;
}

.satu {
    background-color: salmon;
    z-index: -9999;
}

.dua {
    background-color: blue;
    top: 100px;
    left: 100px;
    z-index: 2;
}

.tiga {
    background-color: lime;
    top: 200px;
    left: 200px;
}